* {
    margin: 0;
}

body {

}

/* Header component */
.page-header {
    color:white;
    display: flex;
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    height: 65px;
    background: linear-gradient(to right, #672280 0%, #A626D3 100%);
}
.logo-container {
    display: flex;
    align-items: center;
    margin-left: 28px;
    gap: .5rem;
}
.logo {
    max-width: 2.6rem;
}
.header-title {
    font-family: cursive ;
    font-size: 1.5rem;
}
.header-subtitle {
    font-size: 1rem;
    font-weight: 300;
    margin-right: 28px;
}

/* Form component */
.meme {
    margin: 3rem;
    justify-content: center;
    justify-items: center;
    max-width: 80vw;
}

.input-container {
    max-width: 33vw;
    display: flex;
    gap: 2rem;
}

.input {
    width: 50vw;
    height: 2.2rem;
    border: solid #D1D5DB .05rem;
    border-radius: .5rem;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

.form-submit {
    width: 100vw;
    height: 2rem;

}